Repository jplendor/come-on, pull requests merged in 2022-09, with the labels that each got.

#18 Feature social login kakao (디자인 작업)
  .eslintignore
  config-overrides.js
  package-lock.json
  package.json
  public/index.html
  src/app/store.ts
  src/assets/.keep
  src/assets/nav/Ellipse.png
  src/assets/nav/KakaoIcon.tsx
  src/assets/nav/LoginLogo.tsx
  src/components/.keep
  src/components/common/Buttons.tsx
  src/components/login/KakaoLogin.tsx
  src/components/login/SocialLogin.tsx
  src/components/nav/NavbarItem.tsx
  src/features/api/apiSlice.ts
  src/features/auth/authSlice.ts
  src/features/auth/checkLoginStatus.ts
  src/hooks/auth/useAuth.ts
  src/index.tsx
  src/layouts/.keep
  src/layouts/Layout.tsx
  src/layouts/Navbar.tsx
  src/pages/auth/KakaoLogin.tsx
  src/pages/auth/Login.tsx
  src/pages/auth/RedirectURL.tsx
  src/pages/auth/SocialLogin.tsx
  src/pages/auth/Verification.tsx
  src/react-app-env.d.ts
  src/theme.ts
  src/types/API/auth-service.ts
  src/types/API/course-service.ts
  src/types/API/meeting-service.ts
  src/types/API/user-service.ts
  src/types/auth/index.ts
  src/utils/url.ts
  tsconfig.paths.json
Labels: 📬 API, ➕ 기능 추가, 📝 코드 리뷰

#20 Feature #1 1 1
  package-lock.json
  package.json
  src/App.tsx
  src/api.ts
  src/components/CalendarRangePicker .tsx
  src/pages/meeting/MeetingCreate.tsx
Labels: 📬 API

#21 Feature #1 1 2
  src/components/Calendar.tsx
  src/pages/CalendarTest.tsx
  src/pages/meeting/MeetingEdit.tsx
Labels: ➕ 기능 추가

#23 Feature 2 1 1
  src/App.tsx
  src/components/KakaoShare.tsx
  src/index.tsx
  src/pages/SearchPlace.tsx
Labels: 🐞 버그, 🔨 리팩토링
